body {
    background-color: #f7f7f7;
    display: grid;
    gap: 60px;
    justify-items: center;
}
header {
    display: grid;
    justify-items: center;
    gap: 60px;
    padding: 1rem 2rem;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
p, h1, h2, h3 {
    margin: 0;
}

p {
    font-size: 20px;
    line-height: 1.3;
}
.menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
}
.menu a {
    border-radius: 4px;
    background: #ffffff;
    padding: 1rem 2rem;
    color: #000;
    text-transform: uppercase;
    flex-wrap: wrap;
    border-color: #fff;
}
.menu a:hover {
    border-color: #e21;
}
.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}
.introducao {
    background: #fff;
    padding: 40px;
    text-align: right;
    position: relative;
    display: grid;
    gap: 20px;
    align-content: center;
    justify-items: end;
}
.detalhe {
    width: 60px;
    height: 4px;
    background: #e21;
    display: inline-block;
    position: absolute;
    top: 30px;
    right: -30px;
}
.btn {
    background: #e21;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
}
.subtitulo {
    font-size: 64px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.2);
    text-align: right;
    padding: 40px;
    align-self: center;
    background-image: url("./imgs/03-css-posicionamento/03-css-posicionamento/0309-posicionamento-exercicio/img/onda.svg");
}
.vantagens {
    background: #fff;
    padding: 40px;
}
.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
}
.vantagens-item p {
    grid-column: 2;
}
.rodape {
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}